div.main {
  min-height: 100vh;
  padding-bottom: 60px;
  background-image: linear-gradient( 99.6deg,  rgba(112,128,152,1) 10.6%, rgba(242,227,234,1) 32.9%, rgba(234,202,213,1) 52.7%, rgba(220,227,239,1) 72.8%, rgba(185,205,227,1) 81.1%, rgba(154,180,212,1) 102.4% );
}

.card {
  background-color: rgba(116, 116, 116, 0.109);
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-body {
  text-align: center;
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: $color-primary;
    color: white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }
  }
}
